<% if current_user.relationships.length != 0 %>
	<h1>Family</h1>
	
	<table border="1" >
		<thead>
			<th colspan="<%= @relationships.length + 1 %>"> <%= current_user.first_name %> <%= current_user.last_name %>'s Family Tree </th>
		</thead>
		<tr>
			<th>
				Name
			</th>
			<% @relationships.each do |relationship| %>
				<td> 
					<%= relationship.relative_info.first_name %> <%= relationship.relative_info.last_name %> 
				</td>
			<% end %>
		</tr>
		<tr>
			<th>
				Relationship
			</th>
			<% @relationships.each do |relationship| %>
				<td>
					<%= relationship.kind %>
				</td>
			<% end %>
		</tr>
	</table>
<% else %>
	<h1>Family Tree Not Found</h1>
<% end %>
<!-- <a href="/users/<%= current_user.id %>/relationships/new">Add A New Family Member</a> -->