<h1><%= current_user.first_name %>'s Family Tree</h1>

<table border="1" >
	<thead>
		<th colspan="<%= @relationships.length + 1 %>"> <%= current_user.first_name %> <%= current_user.last_name %>'s Family Tree </th>
	</thead>
	<tr>
		<th>
			Name
		</th>
		<% @relationships.each do |relationship| %>
			<td> 
				<%= relationship.relative_info.first_name %> <%= relationship.relative_info.last_name %> 
			</td>
		<% end %>
	</tr>
	<tr>
		<th>
			Relationship
		</th>
		<% @relationships.each do |relationship| %>
			<td>
				<%= relationship.kind %>
			</td>
		<% end %>
	</tr>
</table>