<!-- <h1>USERS SHOW / PROFILE PAGE</h1> -->
<!-- <h2>get '/users/:id'</h2>
 -->
<% if current_user %>
  	<h2>Welcome <%= current_user.username %>!</h2>
  	<a href="/articles">Articles</a>
  	<a href="/pets">Pets</a>
  	<a href="/users/<%= current_user.id %>/gringotts_accounts/<%= current_user.gringotts_account.id %>">Gringotts Account Portal</a>
  	<!-- <a href="/users/<%= current_user.id %>/gringotts_accounts/<%= current_user.gringotts_account.id %>">Gringotts Account Portal</a> -->
<% else %>
		<%= redirect '/sessions/new' %>
<% end %>


